{% extends 'base.html'%}
{% load static%}
{%block 'titulo'%}
Relatório {{produto.produto}}
{%endblock%}

{%block 'conteudo'%}
    {% include 'parciais/_messages.html'%}
    <div class="row">
      <div class="mb-3 col-9">
        <label class="form-label">Produto: </label>
        <input type="text" class="form-control" name="produto" placeholder="Nome do produto" value="{{produto.produto}}" disabled>
      </div>

      <div class="mb-3 col-3">
        <label class="form-label">Estoque: </label>
        <input type="text" class="form-control" name="estoque" placeholder="Nome do produto" value="{{produto.estoque}}" disabled>
      </div>
    </div>
    
    <div class="row">
      <div class="mb-3 col-md-3">
        <label class="form-label">Preço de venda: </label>
        <input type="text" class="form-control" name="preco_venda" value="R$ {{produto.preco_venda}}" disabled>
      </div>
      {% if produto.preco_ultima_compra %}
      <div class="mb-3 col-md-3">
        <label class="form-label">Preço da última compra: </label>
        <input type="text" class="form-control" name="preco_compra" value="R$ {{produto.preco_ultima_compra}}" disabled>
      </div>
      {% else %}
      <div class="mb-3 col-md-3">
        <label class="form-label">Preço da última compra: </label>
        <input type="text" class="form-control" name="preco_compra" value="Nenhuma compra efetuada ainda" disabled>
      </div>
      {% endif %}
      {% if produto.data_ultima_compra %}
      <div class="mb-3 col-md-3">
        <label class="form-label">Data da última compra: </label>
        <input type="text" class="form-control" name="data_compra" value="{{produto.data_ultima_compra}}" disabled>
      </div>
      {% else %}
      <div class="mb-3 col-md-3">
        <label class="form-label">Data da última compra: </label>
        <input type="text" class="form-control" name="data_compra" value="Nenhuma compra efetuada ainda" disabled>
      </div>
      {% endif %}

      {% if produto.data_ultima_venda %}
      <div class="mb-3 col-md-3">
        <label class="form-label">Data da última venda: </label>
        <input type="text" class="form-control" name="data_compra" value="{{produto.data_ultima_venda}}" disabled>
      </div>
      {% else %}
      <div class="mb-3 col-md-3">
        <label class="form-label">Data da última venda: </label>
        <input type="text" class="form-control" name="data_compra" value="Nenhuma venda efetuada ainda" disabled>
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-7">
        <h1 class="text-center text-secondary">Histórico de movimentação</h1>
      </div>
      <div class="col-4">
        <a href="{% url 'financeiro' produto.id%}" class="btn btn-lg btn-success mt-4">Relatório financeiro (DASHBOARD)</a>
      </div>
    </div>
    
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Tipo</th>
            <th scope="col">Operação</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Preço</th>
            <th scope="col" class="text-end fs-3">Total</th>
          </tr>
        </thead>
        <tbody>
          
        
          {% for h, c in teste%}
          {% if h.movimentacao.entrada %}
          <tr class="text-primary">
            
              <td>{{h.data}}</td>
              <td>Entrada</td>
              <td>{{h.movimentacao}}</td>
              <td>{{h.quantidade}}</td>
              <td>R$ {{h.preco}}</td>
              <td class="text-end"><strong>R$ {{c}}</strong></td>
              <td> <a class="btn btn-warning" data-toggle="modal" data-target="#myModal{{h.id}}">Eliminar</a></td>
          </tr>
                        <!-- Modal Eliminação -->
    <div id="myModal{{h.id}}" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-danger">Eliminar registro do histórioco</h4>
          </div>
          <div class="modal-body">
              <div class="mb-3">
                <p>ATENÇÃO! deseja realmente eliminar esse registro no histórico do produto?</p>
              </div>
          </div>
          <div class="modal-footer">
            <a class="btn btn-danger" href="{% url 'eliminar_historico' h.id%}">Eliminar registro</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar e não eliminar</button>
          </div>
        </div>
      
      </div>
    </div>
          {% else %}
          <tr class="text-danger">
              <td>{{h.data}}</td>
              <td>Saída</td>
              <td>{{h.movimentacao}}</td>
              <td>- {{h.quantidade}}</td>
              <td>- R$ {{h.preco}}</td>
              <td class="text-end"><strong>- R$ {{c}}</strong></td>
              <td> <a class="btn btn-warning" data-toggle="modal" data-target="#myModal{{h.id}}">Eliminar</a></td>
          </tr>
              <!-- Modal Eliminação -->
    <div id="myModal{{h.id}}" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-danger">Eliminar registro do histórioco</h4>
          </div>
          <div class="modal-body">
              <div class="mb-3">
                <p>ATENÇÃO! deseja realmente eliminar esse registro no histórico do produto?</p>
              </div>
          </div>
          <div class="modal-footer">
            <a class="btn btn-danger" href="{% url 'eliminar_historico' h.id%}">Eliminar registro</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar e não eliminar</button>
          </div>
        </div>
      
      </div>
    </div>
          {% endif %}
          {%endfor%}
        </tbody>
      </table>

      <nav aria-label="Page navigation example" class="mb-1 justify-content-center text-center">
        <ul class="pagination justify-content-center text-center">
          {%if historico.has_previous%}
          <li class="page-item">
            <a class="page-link" href="?p={{historico.previous_page_number}}">Anterior</a>
          </li>
          {%endif%}
          {%for pagina in historico.paginator.page_range%}
          {%if historico.number == pagina%}
            <li class="page-item active"><a class="page-link bg-success" href="?p={{pagina}}">{{pagina}}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?p={{pagina}}">{{pagina}}</a></li>
          {%endif%}
          {%endfor%}
          {%if historico.has_next%}
          <li class="page-item">
            <a class="page-link" href="?p={{historico.next_page_number}}">Próxima</a>
          </li>
          {%endif%}
        </ul>
      </nav>

      
      <div class="text-center">
      
      <a href="{% url 'entradas' produto.id%}" class="btn btn-success my-3" style="width: 230px;">Lançar entradas (compras)</a>
      {% if produto.estoque > 0 %}
      <a href="{% url 'saidas' produto.id%}" class="btn btn-success my-3" style="width: 230px;">Lançar saídas (vendas)</a>
      {% else %}
      <a href="" class="btn btn-success disabled my-3" style="width: 230px;">Lançar saídas (vendas)</a>
      {% endif %}

      </div>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <br><br>
{%endblock%}
