{% extends 'base.html'%}

{%block 'titulo'%}
Saídas do estoque
{%endblock%}

{%block 'conteudo'%}
    {% include 'parciais/_messages.html'%}
    <h1>Saídas do estoque</h1>
    <form method="post" action="{% url 'saidas' produto.id%}">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">Tipo de movimentação: </label>
        <select name="mov" class="form-control">
          {% for c in t_entrada%}
          <option value="{{c.id}}">{{c.tipo_movimento}}</option>
          {%endfor%}
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Produto: </label>
        <input type="text" class="form-control" name="produto" placeholder="Nome do produto" value="{{produto.produto}}" disabled>
      </div>
      <div class="row">
        <div class="mb-3 col-md-3">
          <label class="form-label">Preço de custo: </label>
          <input type="text" class="form-control" name="preco_custo" value="R$ {{produto.preco_ultima_compra}}" disabled>
        </div>

        <div class="mb-3 col-md-3">
          <label class="form-label">Estoque: </label>
          <input type="text" class="form-control" name="estoque" value="{{produto.estoque}}" disabled>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-3">
          <label class="form-label">Preço de venda: </label>
          <input type="number" class="form-control" name="preco" placeholder="Preço de venda" value="{{preco_venda}}" step="0.01">
        </div>
        <div class="mb-3 col-md-3">
          <label class="form-label">Quantidade: </label>
          <input type="number" class="form-control" name="quantidade" placeholder="Quantidade" value="{{request.POST.quantidade}}" step="1">
        </div>
        <div class="mb-3 col-md-3">
          <label class="form-label">Data: </label>
          <input type="date" class="form-control" name="data" placeholder="Data da movimentação" value="{{hoje}}">
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary">Confirmar movimentação</button>
    </form>
    
{%endblock%}
